/* styles.css */

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    width: 100vw; /* Ensure the body takes the full viewport width */
    overflow-x: hidden; /* Prevent horizontal scroll */
    background-color: #f0f0f0;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #0c0d3b;
    height: auto; /* Height of the header */
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 5%;
  }

  .nav ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    margin:0;
    padding:0;
  }
  
  .nav li {
    margin-right: 20px;
    font-size: 20px;
  }
  
  .nav a {
    text-decoration: none;
    color: #0c0d3b;
    display: block;
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth highlighting */
    font-size: 1.5em;
    padding: 0.5em;
  }
  
  .nav ul li a:hover,a.active {
    background-color: #FF7A3D;
    color: white;
    border-radius: 6%;
  }
  
  .nav a.active {
    background-color: #FF7A3D;
     /* Ensure readability when highlighted */
    border-radius: 6%;
  }
  
  header hr {
    border: 3px solid #FF7A3D;
    width: 100%; /* Adjust width to account for margins */ 
    margin: 0;
    border-radius: 25%;
  }
  
  .hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
  }
  
  .hamburger-menu span {
    height: 3px;
    width: 25px;
    background-color: #0c0d3b;
    margin: 4px 0;
    transition: 0.4s;
  }

  button{
    display:flex;
    align-items: center;
    width: 250px;
    height: 50px;
    margin-top: 1rem;
    border: none;
    background-color: #0c0d3b;
    font-size: 1.5rem;
    color: whitesmoke;
    border-radius: 50px;
    justify-content: center;
  }

   button:hover{

    background-color: #FF7A3D;
    
  }

  
  
  main {
    background-color: #f0f0f0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px; /* Adjust based on header height */
    margin-bottom: 60px; /* Adjust based on footer height */
    width: 100%;
    box-sizing: border-box;
  }
  
  
  
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    flex-direction: column;
    padding: 1em;
    margin-top: 85px;
    margin-bottom: 85px;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1000;
    width: 100vw; /* Ensure footer spans the full width of the screen */
    background-color: #FF7A3D;
    color: #0c0d3b;
    text-align: center;
    height: 60px; /* Height of the footer */
    padding: 0 200px;
    box-sizing: border-box;
  }
  
  
  
  /* Begining of about me CSS */
  .about-me {
    display: flex;
    gap: 20px;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    border-radius: 7%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5rem;
    justify-content: flex-start;
  }
  
  .about-me-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-me-name h2 {
    color: #0c0d3b;
    text-align: center;
    font-size: 3.5rem;
    margin: 0;
  }
  
  .about-me-name hr {
    border: 3px solid #FF7A3D;
    text-align: center;
    width: 100%;
    margin: 0;
  }
  
  .about-me-content p {
    display: flex;
    color: #0c0d3b;
    text-align: center;
    font-size: 2rem;
    margin-top: 15px;
    
  }
  
  .social-media {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .social-media a {
    font-size: 1.5em;
    text-decoration: none;
    color: #0c0d3b;
    margin-right: 40px;
  }
  
  .social-media a:hover {
    color: #FF7A3D;
  }
  
  .profile-photo img {
    border-radius: 50%;
    height: auto;
    width: auto;
    max-width: 300px;
  }
  
  .about-me-description p {
    color: #0c0d3b;
    text-align: center;
    font-size: 1.5rem;
  }
  
  .resume-button a {
    text-decoration: none;
    color: white;
    background-color: #FF7A3D;
    padding: 0.5em 1em;
    border-radius: 50px;
    font-size: 1.75rem;
  }
  
  .resume-button a:hover {
    background-color: #0c0d3b;
  }
/*  end of about me  CSS*/

/*  Beginig of Experiance/skills CSS*/

  .experience h2{
    display:flex;
    font-size: .75em;
    flex-direction: column;

  }
  
  .education {
    display : flex;
    background-color: #ffffff;
    padding: 0.25em;
    border-radius: 7%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5rem;
    justify-content: flex-start;
  }

 

    .education-header h2{
        display: flex;
        flex-direction: column;
        align-items: center;
        color:#0c0d3b;
        margin-top: 0;
        margin-bottom: 0;
    }

    .education-header hr{

        border: 3px solid #FF7A3D;
        text-align: center;
        width: 100%;
        margin-top: 0;
        margin-bottom: 1em;

    }

    .skill-icons i{
      
      padding:1rem;
      border-radius: 50%;
      justify-content: space-between;
      font-size: 2em;

    }

    .skill-icons img{
      margin-top:1.5rem;
      padding-left:1rem;
      border-radius: 50%;
      justify-content: space-between;
      height: 2.25em;
      width: 2.25em;

    }

    .skills-header h3{

      margin-top: 1rem;
      margin-bottom: 0;
      color:#0c0d3b;
    }

    .skills-header hr{
      border: solid 3px;
      margin-bottom: 1rem;
      margin-top:.5rem;
      max-width: 35%;
      color:#FF7A3D
    }

    .experience h2{
      color: #0c0d3b; 
    }

    .accordion {
      background-color: #eee;
      color: #0c0d3b;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 1.5rem;
      transition: 0.4s;
    }

    
    .active, .accordion:hover {
      background-color: #FF7A3D;
    }
    
    .accordion:after {
      content: '\002B';
      color: #777;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }
    
   
    .experience .active::after {
      content: "\2212";
    }
    
    .panel {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }

    .panel h5{
      color: #0c0d3b;
      font-size: 2rem;
      margin-top:1rem;
      margin-bottom: 0;
      
    }

    .panel li{
      color:#0c0d3b;
      font-size: 2.5rem;
      font-weight: lighter;
      
    }

    .panel li::marker{
      color: #FF7A3D;
      margin:0;
      
    }
    .panel p{
      color: #0c0d3b;
      font-size: 2rem;
      margin:0;
      align-items: left;
      text-align: left;

    }

    .panel hr{
      max-width: 25%;
      margin-top:0.25rem;
      color: #FF7A3D ;
      border: solid 2px;

    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap:2rem;
      text-align: left;
  }
  
  .grid-container li::marker{
    content: "★";
    color: #FF7A3D;
    
  }
    
  .skills-accordian{
    margin-left:1rem;
    margin-right:1rem;
    margin-bottom:1rem;
}

    .slider-buttons button{

        display: flex;
        align-items: center;
        width: 50px;   
    }

    .slider-buttons{
    
      display: flex;
      align-items: center;
     justify-content: space-between; 

  }

.slider{
    
  max-height: 95%;
  max-width: 95%;
  overflow: hidden;
    
}

.slides{

    display: flex;
    transition: transform 0.5s ease;

}

.slider-item{

    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: #ffffff;
    border: solid 3px #FF7A3D;
    border-radius: 20px;
    margin-bottom: 1rem; /* this may need to change */

}

.prev{

    left:0;
    margin:0;

}

.next{

    right:0;
    margin:0;
}
/* end of the experiance/skills section */
  

/* Beging of the projects section */

  .projects {
    display : flex;
    background-color: #ffffff;
    padding: 0.25em;
    border-radius: 7%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    color: #FF7A3D;
    font-size: 2.5rem;
    justify-content: flex-start;
    
  }
    .projects-header h2{
        display: flex;
        flex-direction: column;
        align-items: center;
        color:#0c0d3b;
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .projects-header hr{

        border: 3px solid #FF7A3D;
        text-align: center;
        width: 100%;
        margin-top: 0;
        margin-bottom: 2em;
    }
    
    
.slider-projects{
  
  max-height: 95%;
  max-width: 95%;
  overflow: hidden;
    
}

.slides-projects{
    
  
    display: flex;
    transition: transform 0.5s ease;
    
    margin-bottom:1em;

}

.slider-buttons a{
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #FF7A3D;
  color:#ffffff;
  border-radius: 10px;
  padding: 0.25em;

}

.slider-buttons a:hover{

  background-color: #0c0d3b;
  color:#f0f0f0;

}

.slider-item-projects {
  display: flex;
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  background-color: #ffffff;
  border: solid 3px #FF7A3D;
  border-radius: 20px;
  margin-bottom: 1rem; /* this may need to change */
   /* Evenly distribute children */
  align-items: center;
}

.description-projects, .image-projects {
  flex: 1; /* Each child takes up equal space */
  padding: 10px; /* Add some padding for spacing */
  box-sizing: border-box;
}

.description-projects {
  text-align: left; /* Align text to the left */
}

.image-projects {
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center;
}

.image-projects img {
  max-width: 100%; /* Make the image responsive */
  height: auto; /* Maintain the aspect ratio */
  border-radius: 10px;
  border: solid 4px black;
}

.slider-item-projects h3{

  font-weight: normal;
  margin-top:1rem;
  margin-bottom:0;
  color:#0c0d3b;
  text-align: left;

}
.slider-item-projects p{

    display: flex;
    color: #0c0d3b;
    text-align: left;
    font-size: 2rem;
    margin-top: 0.5px;
    flex-direction: column;

}
  
/* End of projects CSS*/

/* begining of contact form css */

  .get-in-touch {
    background-color: #ffffff;
    color: #FF7A3D;
    padding: 1em;
    border-radius: 7%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    font-size: 2.5rem;
  }

  .form-group{
    width: 525px;
    height: 50px;
    border: none;
    background-color: #fc9667;
    color: white;
    border-radius: 50px;
    font-weight: 700;
    font-size: 1.5rem;
    padding-left: .5rem;
    margin-bottom: 20px;

  }

  .form-group-text{
    width: 500px;
    height: 400px;
    margin-top: 1rem;
    border:none;
    background-color: #fc9667;
    color: #0c0d3b;
    border-radius:20px;
    padding: 1rem;
    font-size: 1.5rem;
  }

  .contact-form:focus{
    
    border: 2px solid #FF7A3D;

 }


    .form-header h1{
        display: flex;
        align-content: top;
        font-size: 3.5rem;
        color: #0c0d3b;
        margin: 0 ;
        margin-top: 2rem;
        
    }

    .form-header hr {
        border: 3px solid #FF7A3D;
        text-align: center;
        width: 100%;
        margin:0;
        margin-bottom: 4rem;
      }

  /*end form CSS */

  



  @media (max-width: 992px) {
  

  .nav ul {
      flex-direction: row;
      gap: 30px; /* Adjust gap for larger screens */
      padding:0;
      
  }

  .nav li {
      margin-right: 20px;
      font-size: 1rem;
  }

  .nav a {
      font-size: 1.5em;
  }

  .hamburger-menu {
      display: none; /* Hide hamburger menu on larger screens */
  }

    .about-me-name h2 {
      font-size: 2rem;
      padding: 0.;
    }
    
    .about-me-content p {
      font-size: 1.75rem;
    }
    
   
  
    .profile-photo img {
      max-width: 250px;
    }

    .experience h2 {
      font-size: 0.65em;
      
    }
  
    .education {
      font-size: 2rem;
      padding: 0.75em;
    }
  
    .skill-icons i {
      font-size: 1.75em;
      padding: 0.75rem;
    }
  
    .skills-header h3 {
      font-size: 1.75rem;
    }
  
    .skills-header hr {
      max-width: 30%;
    }
  
    .accordion {
      font-size: 14px;
    }
  
    .slider {
      max-height: 95%;
      max-width: 95%;
    }
  
    .slider-item {
      border-radius: 15px;
    }

    .projects {
      font-size: 2rem;
      padding: 0.75em;
  }

  .projects-header hr{
    margin-bottom:1.5em;
  
  }

  .slider-projects {
    max-height: 95%;
    max-width: 95%;
  }

  .slider-item-projects {
      border-radius: 15px;
  }

  .slider-item-projects h3,
  .slider-item-projects p {
      font-size: 1.75rem;
  }

  .slider-buttons a {
      font-size: 1.5rem;
  }

  .get-in-touch {
    padding: 0.75em;
    font-size: 2rem;
  }

  .form-group {
    width: 400px; /* Make the form fields responsive */
    height:45px;
    font-size: 1.4rem;
  }
  
  .form-group-text {
    width: 400px; /* Make the form fields responsive */
    height:300px;
    font-size: 1.4rem;
  }

  button {
    width: 175px;
    font-size: 1.25rem;
  }

  .form-header h1 {
    font-size: 3rem;
  }

  .social-media a {
    font-size: 1.5rem;
  }

  footer {
    padding: 0 100px; /* Adjust padding for larger screens */
    font-size: 1.25rem; /* Adjust font size */
}

  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (max-width: 768px) {
    main {
      margin-top: 60px;
    }

    section{
      margin-top:20px;
      margin-bottom: 20px;
  }
  
  .form-header h1{
    margin-top: 16px;
  }

  .nav ul {
      flex-direction: row;
       
      
  }

  .nav li {
      margin-right: 10px;
      font-size: 1rem;
  }

  .nav a {
      font-size: 1.4em;
  }


    .about-me {
      font-size: 1.75rem;
      padding: 0.5em;
    }
    
    .about-me-name h2 {
      font-size: 2.5rem;
      padding:0;
    }
    
    .about-me-content p {
      font-size: 1.5rem;
    }
    
    .social-media {
      font-size: 1.5rem;
    }
  
    .profile-photo img {
      max-width: 200px;
    }
    
    .about-me-description p {
      font-size: 1.25rem;
    }
    
    .resume-button a {
      font-size: 1.5rem;
    }

    .experience h2 {
      font-size: 0.55em;
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap:2rem;
      text-align: left;
      font-size: 1.5rem;
  }

  .panel li{
    font-size: 1.5rem;
  }

  .panel p{
    font-size:1.5rem;

  }
  
  .grid-container li::marker{
    content: "★";
    color: #FF7A3D;
    
  }
  
    .education {
      font-size: 1.75rem;
      padding: 0.5em;
    }
  
    .skill-icons i {
      font-size: 1.5em;
      padding: 0.5rem;
    }
  
    .skills-header h3 {
      font-size: 1.5rem;
    }
  
    .skills-header hr {
      max-width: 25%;
    }
  
    .accordion {
      font-size: 13px;
    }
  
    .slider {
      max-height: 90%;
      max-width: 90%;
    }
  
    .slider-item {
      border-radius: 10px;
    }

    .slider-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow:visible;
    }

    .projects {
      font-size: 1.75rem;
      padding: 0.5em;
  }

  .projects-header hr{
    margin-bottom:1em;
  
  }

  .slider-projects {
  
    max-height: 95%;
    max-width: 95%;
  }

  .slider-item-projects {
      border-radius: 10px;
      flex-direction: column-reverse; /* Stack elements vertically */
  }

  .description-projects,
  .image-projects {
      width: 80%; /* Make each child take the full width */
  }

  .slider-item-projects h3,
  .slider-item-projects p {
      font-size: 1.5rem;
      text-align: center; /* Center text for smaller screens */
  }

  .slider-buttons a {
      font-size: 1.25rem;
  }

  .get-in-touch {
    padding: 0.5em;
    font-size: 1.75rem;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
  }

  .form-group {
    width: 400px; /* Make the form fields responsive */
    height:40px;
    font-size: 1.4rem;
  }
  
  .form-group-text {
    width: 400px; /* Make the form fields responsive */
    height:300px;
    font-size: 1.4rem;
  }

  button {
    width: 150px;
    font-size: 1rem;
  }

  .form-header h1 {
    font-size: 2.5rem;
  }

  .social-media a {
    font-size: 1.875rem;
  }
  footer {
    padding: 0 50px; /* Adjust padding for medium screens */
    font-size: 1rem; /* Adjust font size */
}
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (max-width: 576px) {
   .nav{
    width:100%;

   }

  .nav ul {
      flex-direction: column; /* Stack elements vertically */
      display: none;
      background-color: #ffffff;
  }

  .nav li {
      margin-right: 0;
      font-size: 1.2rem;
      background-color: #f0f0f0;
  }

  .nav a {
      font-size: 1.2em;
  }

  .nav ul.active {
    display: flex;
    gap:0;
    

}

  .hamburger-menu {
      display: flex; /* Show hamburger menu on small screens */
  }
    .about-me {
      font-size: 1.5rem;
      padding: 0.25em;
      
    }
    
    .about-me-name h2 {
      font-size: 2rem;
      padding:0;
    }
    
    .about-me-content p {
      font-size: 1.25rem;
    }
    
    .social-media a{
      font-size: 5.5rem;
    }
  
    .profile-photo img {
      max-width: 150px;
    }
    
    .about-me-description p {
      font-size: 1rem;
    }
    
    .resume-button a {
      font-size: 1.25rem;
    }

    .experience h2 {
      font-size: 0.45em;
    }
  
    .education {
      font-size: 1.5rem;
      padding: 0.25em;
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap:2rem;
      text-align: left;
      font-size: 1.5rem;
  }

  .panel li{
    font-size: 1.5rem;
  }

  .panel p{
    font-size:1.5rem;

  }
  
  .grid-container li::marker{
    content: "★";
    color: #FF7A3D;
    
  }
  
    .skill-icons i {
      font-size: 1.25em;
      padding: 0.25rem;
    }
  
    .skills-header h3 {
      font-size: 1.25rem;
    }
  
    .skills-header hr {
      max-width: 20%;
    }
  
    .slider-item p{
     
      font-size: 1rem;
      
    }

   
    .slider {
      
      max-height: 95%;
      max-width: 95%
    }
  
    .slider-item {
      border-radius: 5px;
    }

    .projects {
      font-size: 1.5rem;
      padding: 0.25em;
  }
    .projects-header hr{
    margin-bottom:1em;

    }
  .slider-projects {
    max-height: 95%;
    max-width: 95%;
  }

  .slider-item-projects h3,
  .slider-item-projects p {
      font-size: 1rem;
  }

  .slider-buttons a {
      font-size: 1rem;
  }

  .image-projects img {
      border: solid 2px black;
  }

  .get-in-touch {
    padding: 0.25em;
    font-size: 1.5rem;
  }

  .form-group {
    width: 350px; /* Make the form fields responsive */
    height:40px;
    font-size: 1.4rem;
  }
  
  .form-group-text {
    width: 350px; /* Make the form fields responsive */
    height:275px;
    font-size: 1.4rem;
  }

  button {
    width: 125px;
    font-size: 0.75rem;
  }

  .form-header h1 {
    font-size: 2rem;
  }

  .social-media a {
    font-size: 1.75em;
  }

  footer {
    padding: 0 20px; /* Reduce padding for small screens */
    font-size: 0.75rem; /* Adjust font size */
}

  }
  
  /* Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 576px) {
    .about-me {
      width: 95%;
    }
    
    .about-me-name h2 {
      font-size: 1.75rem;
    }
    
    .about-me-content p {
      font-size: 1rem;
    }
    
    .social-media {
      font-size: 1.25rem;
    }
  
    .profile-photo img {
      max-width: 120px;
    }
    
    .about-me-description p {
      font-size: 0.875rem;
    }
    
    .resume-button a {
      font-size: 1rem;
    }
  }


  /* For tablet and mobile views */
@media (max-width: 768px) {
    .about-me {
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
  
    .about-me-header {
      width: 100%;
      text-align: center;
    }
  
    .about-me-description {
      padding: 0 1em;
    }
  }
  
  /* For mobile views */
  @media (max-width: 576px) {

    main {
      margin-top: 60px;

    }

    section{
      margin-top:45px;
      margin-bottom: 45px;

    }

  
    .about-me {
      gap: 10px;
      padding: 1em;
    }
  
    .about-me-header {
      width: 100%;
      text-align: center;
    }
  
    .about-me-description {
      padding: 0 1em;
    }
  }

  body {
    font-size: calc(1rem + 0.5vw);
  }

  @media (max-width: 576px) {
    .resume-button a {
      padding: 0.25em 0.5em;
    }
  }

  @media (max-width: 576px) {
    .social-media a {
      padding: 0.25em;
    }
  }
  